@charset "utf-8";

.input_wrap01 {
  max-width: 480px;
  margin: 0 auto;
}
.input_wrap01 input,
.input_wrap01 textarea {
  width: 100%;
  margin-bottom: 1rem;
}
.input_wrap01 button {
  width: 100%;
}
.input_wrap01 > form {
  margin-bottom: 5rem;
}
.input_wrap01 > article {
  background-color: #ddd;
}
.input_wrap01 > article > div {
  border-bottom: 1px solid #333;
}
.input_wrap01 > article > div:last-child {
  border: 0;
}
